:where(body) {
	background-color: #283438;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

:where(h1, h2, h3) {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
}

.main {
	padding-top: 0px;
}

header {

	h1 {
		font-size: 4rem;
	}

	&>* {
		margin-block: .1rem;
	}
}

section {
	border-bottom: 1px solid gray;
}

.hero {
	background: url('/src/static/img/Blissful-Haven-Hotel-bg.png') no-repeat center center;
	background-size: cover;
	min-height: 75%;

	display: grid;
	place-content: center;

	font-size: 1.3rem;
	text-align: center;
}

.words {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.btn {
	width: 50%;

	&:hover,
	&:focus {
		color: var(--contrast-inverse);
		background-color: var(--contrast);
	}
}

.grid {
	align-items: center;
	padding-bottom: var(--block-spacing-vertical);

	img {
		border-radius: var(--border-radius);
	}
}

.welcome-content {

	.words {
		justify-self: center;
	}
}

.acc {

	h2 {
		margin-bottom: 0;
		text-align: center;
	}

	h3 {
		margin-block: 0;
	}

	img {
		border-radius: var(--border-radius);
	}

	article {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.description {
			display: grid;
			gap: 1rem;
			justify-content: space-between;
		}

		.fam {
			font-weight: lighter;
			font-size: .7rem;
		}
	}

}

.family {
	.grid {
		gap: 2rem;
	}
}

.promo {

	h2 {
		margin-bottom: 0;
		text-align: center;
	}

	h3 {
		margin-bottom: 0;
		text-align: center;
	}

	&__description {
		padding-block: .5rem;
		display: grid;
		grid-template-rows: 70px 200px;
		gap: 2rem;

		p {
			font-size: 1rem;
		}
	}

	@media (max-width: 991px) {
		&__description {
			grid-template-rows: 70px 100px;
		}
	}
}
